<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <style>
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h1>Quiz - Sztuczna Inteligencja</h1>
    <form action="{{ url_for('login_submit') }}" method="POST">
        <div>
            <h3>Enter your name</h3>
            <input type="text" id="user_name" name="user_name" required>
        </div>
        <input type="submit" value="Login">
    </form>
    <footer>
        &copy; 2024 Quiz App. Jakub Frąszczak.
    </footer>
</body>
</html>
